* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #383838;
}

.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.flashcards div {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  border-radius: 7px;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  /*animation: rotate 1s ease-in-out;*/
}

div.selected {
  border: 1px solid #e03131;
  background-color: #e03131;
  color: #fff;
  font-weight: bold;
  animation: rotateSelected 1s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes rotateSelected {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 900px) {
  .flashcards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .flashcards {
    grid-template-columns: 1fr;
  }
}
